body {
    background-image: url("imges/tile.jpg");
}

#taskContainer{
    height: 200px;
    width: 80%;
    margin: 20px auto;
}

.deleteBtn{
    color: white;
    background-color: red;
}

.inputsBox{
    padding-top: 15px;
    padding-right: 50%;
    padding-left: 10%;
}

.formBox {
    background-image: url("imges/formbg.jpg");
    height: 320px;
    margin-right: 100px;
    margin-left: 100px;
}

body>h1 {
    text-align: center;
    font-family: 'Rubik Puddles', cursive;
    font-size: 59px;
    color: white;
    font: bolder;
}

.lableForm {
    background-color: white;
}

.lastOne{
    animation: fadeIn ease 3s;
    display: inline-block;
    margin-left: 5%;
}

.taskBox {
    background-image: url("imges/notebg.png");
    width: 198px;
    height: 250px;
    word-wrap: break-word;
    overflow: auto;
    margin-left: 5%;
    display: inline-block;
}

.taskDateAndTime {
    margin-left: 5%;
    margin-top: -50px;
}

.btnContainer {
    display: none;
    text-align: right;
    margin-top: 14px;
    margin-inline-end: 18px;
}

.taskBox:hover > .btnContainer {
    display: inline;
    float: right;
    padding: 10px;
    width: 94%;
    height: 0px;
}

.btnContainer:hover {
    cursor: pointer;
}

.taskText {
    height: 57%;
    width: 90%;
    margin: 45px auto;
    overflow: auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}